In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {
    'Feature1':np.random.rand(10),
    'Feature2':np.random.randint(0,100,10),
    'Feature3':np.random.choice(['A','B','C'],10),
    'Feature4':np.random.randn(10),
    'Feature5':np.random.uniform(1,10,10)
}

In [4]:
df = pd.DataFrame(data)

In [5]:
print("Info of df : ")
print(df.info())

Info of df :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  10 non-null     float64
 1   Feature2  10 non-null     int64
 2   Feature3  10 non-null     object
 3   Feature4  10 non-null     float64
 4   Feature5  10 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 528.0+ bytes
None

In [6]:
print("\n Descriptive statistics of 'df':")
print(df.describe())

 Descriptive statistics of 'df':
        Feature1   Feature2   Feature4   Feature5
count  10.000000  10.000000  10.000000  10.000000
mean    0.618450  55.800000  -0.474343   4.676763
std     0.318011  28.642626   0.936437   2.450775
min     0.115071   9.000000  -1.555767   1.432020
25%     0.349943  41.750000  -1.183516   2.919206
50%     0.671447  62.000000  -0.812028   4.039623
75%     0.890236  73.750000   0.177170   6.953633
max     0.982676  94.000000   0.964454   8.145603

In [8]:
observation_4 = df.loc[4]
print("\n 4th index observation: ")
print(observation_4)

 4th index observation:
Feature1    0.631387
Feature2          68
Feature3           A
Feature4   -0.099313
Feature5     3.65954
Name: 4, dtype: object

In [9]:
print("\n Null values in df:")
df.isnull().any
df.isnull().sum

 Null values in df:

<bound method NDFrame._add_numeric_operations.<locals>.sum of    Feature1  Feature2  Feature3  Feature4  Feature5
0     False     False     False     False     False
1     False     False     False     False     False
2     False     False     False     False     False
3     False     False     False     False     False
4     False     False     False     False     False
5     False     False     False     False     False
6     False     False     False     False     False
7     False     False     False     False     False
8     False     False     False     False     False
9     False     False     False     False     False>